.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 30rem;
    margin: 0 auto;
  }
  
  .Login {
    font-size: 3rem;
    margin-bottom: 1.2rem;
  }

  .userName{
    font-size: 1.5rem;
  }

  button{
    justify-content: center;
    width: 20rem;
  }
  
  .signButton{
    width: 20rem;
    
  }