.timer-container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
   
  }

  h2{
    font-weight: 500;
    font-size: 3rem;
  }
  
  .timer {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  
   button {
    display: flex;
    justify-content: center;
    margin: 0.2rem;
  }
  
  button {
    background: transparent;
    color: #000000;
    border: 2px solid black;
    width: 20rem;
    border-radius: 5px;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  button:hover {
    background-color: #0e6669;
    color: aliceblue;
  }
  
  .break-timer {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.2rem;
  }