.App {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: 'Ysabeau Infant', sans-serif;
    height: 94vh;
    width: 100vw;
    background-image: linear-gradient(160deg, #fcfcfc 20%, #c3d7d8 80%);
  }
  